server:  
  port: 8082  
  
spring:  
  datasource:  
    url: jdbc:postgresql://postgres-auth:5433/paiement_db  
    username: ${PAIEMENT_DB_USER:wasalny_user}  
    password: ${PAIEMENT_DB_PASSWORD:wasalny_password}  
  jpa:  
    hibernate:  
      ddl-auto: update  
    show-sql: true  
    properties:  
      hibernate:  
        dialect: org.hibernate.dialect.PostgreSQLDialect  
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: ${RABBITMQ_USER:admin}
    password: ${RABBITMQ_PASSWORD:admin}  
  
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

# JWT Configuration
security:
  jwt:
    secret-key: ${JWT_SECRET:yPBDF3goXOTLVXbA4VFPTmOFcXtNT8ouT80zRJV3tecvi/SJCDU8makhpYKWX30a0kW7ANe5OhLC2ToJ3Zbd4Q==}
    expiration-time: ${JWT_EXPIRATION:3600000}